.callback-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: opacity 0.3s;
}

.callback-popup.open {
  display: flex;
}

.popup-content {
  align-items: center;
  justify-content: center;
  background-color: #28282b;
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 1.5rem;
}

.callback-form {
  display: flex;
  flex-direction: column;
}

.callback-form input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #28282b;
  color: white;
}

.callback-form button[type="submit"] {
  background-color: white;
  color: #000;
  padding: 10px;
  border: 2px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.callback-form button[type="submit"]:hover {
  background-color: red;
}
/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
  .popup-content {
    padding: 5px;
  }

  .callback-form input {
    font-size: 14px;
  }
}
